<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <!--<add name="sql" connectionString="Data Source=.;Initial Catalog=JZHQ;Persist Security Info=True;User ID=jzhq;Password=123456"/>-->
    <add name="sql" connectionString="Data Source=115.28.213.122;Initial Catalog=DianYing;Persist Security Info=True;User ID=jzhq;Password=qwertyuiop"/>
    </connectionStrings>

  <appSettings>
    <!--详情页图片-->
    <add key="path" value ="D:\Web\dianying\dyImg\img"/>
    <!--列表页图片-->
    <add key="mpath" value ="D:\Web\dianying\dyImg\mImg"/>
    <add key="bigpath" value ="D:\Web\dianying\dyImg\bigImg"/>
  </appSettings>
    </configuration>