<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="/">第一影院</a>
                <div class="nav-collapse">
                    <ul class="nav x-top-nav">
                       
  <li><a href="http://v.diyibk.com/new"><i class="icon-home icon-white"></i>最新</a></li>
   <li><a href="http://v.diyibk.com/tuijian"><i class="icon-home icon-white"></i>推荐</a></li>
                        <li class="active"><a href="/category/"><i class="icon-th-list icon-white"></i>分类</a></li>

                    </ul>
                    {$logininfo}
                    <div class="pull-left">
                      
                       <div class="diyibk-search">
<div class="input-append">
			<input type="text" id="search_input" name="word" value="{$keyword}" autocomplete="off" class="diyibk-search-text">
			<input type="hidden" name="fr" value="video">
			<span class="diyibk-search-btn"><input type="button" tabindex="2" value="影视搜索" id="search_btn"></span>
            </div>
		</div>
                    </div>
                </div>
            </div>
        </div>
        </div>