<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>第一影院 近期热播电影电视剧，最新影视资源，百度影音，云点播 </title>
    <meta name="viewport" content="minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/Style/diyibk.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Style/default.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico?v=4fdcf" />
    <meta name="description" content="最新电影电视剧，最热门电影电视剧">
    <meta name="keywords" content="最新电影电视剧，最热门电影电视剧，百度影音，在线观看，迅雷免费下载">
    <meta name="title" content=" 近期热播电影电视剧，最新影视资源，百度影音，云点播">
    <!-- other header -->
    <meta property="qc:admins" content="551557634161167665" />
</head>
<body>
    {header}
    <div id="main_content" style="width: 960px;" class="container">
        
            <div class="row-fluid" style="margin-bottom: 5px;">
            <fieldset>
                <div class="area" style="margin-bottom: 0px;">
                    <legend>
                        <h4>
                            最新电视剧 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/category/channelid_2">更多>> </a>
                        </h4>
                    </legend>
                    <ul class="thumbnails" style="padding-left: 10px;">
           
                     {TvTop}
                    <!--<TvTopBegin>

                        <li class="x-movie-li"><a class="z-movie-playlink" href="/movie/{MovieId}"
                            target="_blank" alt="{MovieName}">
                            <div class="thumbnail">
                                <div class="x-movie-thumbnail">
                                    <img alt="{MovieName}" src="{ImagePath}">
                                </div>
                                <div class="x-movie-cap">
                                    <b>{MovieName}</b>
                                </div>
                            </div>
                            <div class="z-movie-playmask">
                            </div>
                        </a></li>
                          <TvTopEnd>-->
                      
                   
                    </ul>
                </div>
            </fieldset>
        </div>
        <div class="row-fluid" style="margin-bottom: 100px;">
            <fieldset>
                <div class="area">
                    <legend>
                        <h4>
                            最新电影 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/category/channelid_1">更多>></a></h4>
                    </legend>
                    <ul class="thumbnails" style="padding-left: 10px;">
                             {MovieTop}
                    <!--<MovieTopBegin>
                        <li class="x-movie-li"><a class="z-movie-playlink" href="/movie/{MovieId}"
                            target="_blank" alt="{MovieName}">
                            <div class="thumbnail">
                                <div class="x-movie-thumbnail">
                                    <img alt="{MovieName}" src="{ImagePath}">
                                </div>
                                <div class="x-movie-cap">
                                    <b>{MovieName}</b>
                                </div>
                            </div>
                            <div class="z-movie-playmask">
                            </div>
                        </a></li>
                         <MovieTopEnd>-->
                    </ul>
                </div>
            </fieldset>
        </div>
    
        <!-- modal -->
        
       <div class="well" style="text-align: center; margin-top: 20px; font-size: 13px;">
            
            <div class="muted">
                Copyright &copy; 2014 第一博客 </div>
        </div>
      {footer}
    </div>
    <div class="btn-group btn-group-vertical z-rightedge-container" style="left: 50%;">
        <a href="javascript:void(0);" class="btn btn-small z-rightedge-buttom" style="display: none;"
            id="gotop"><i class="icon-arrow-up"></i></br>回</br>到</br>顶</br>部 </a><a href="/opinion"
                style="" class="btn btn-small z-rightedge-buttom" alt="">反</br>馈</br>意</br>见
        </a>
    </div>

</body>
</html>
