<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="/Manage/DataManage.aspx">后台首页</a>
            <div class="nav-collapse">
                <ul class="nav x-top-nav">
                 <li><a href="/Manage/DataManage.aspx"><i class="icon-th-list icon-white"></i>电影列表</a></li>
                    <li><a href="/Manage/MovieInfo.aspx"><i class="icon-film icon-white"></i>添加电影</a></li>
                      <li><a href="/Manage/ChannelList.aspx"><i class="icon-th-list icon-white"></i>电影分类</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
